<div *ngIf = "(authservice.user | async)?.uid">

<!-- <div ng-controller="myCtrl">
    <button mat-raised-button color="primary" (click)="myFunc()">Save to firestore</button>
    <p>{{ans}}</p>
</div> -->


<p *ngIf = "!(posts$ | async)"> loading posts... </p>

<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$ | async">
        <!-- <mat-expansion-panel *ngFor = "let post of posts"> -->

      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
       {{post.body}}   
       <!-- <div *ngFor="let user of Users$">
        <div *ngIf = "user.id == post.userId;other">Author: {{user.name}}</div>
      </div> -->
    </mat-expansion-panel>
  </mat-accordion>

</div>

<h3 *ngIf = "!(authservice.user | async)?.uid">You're not allowed to see this content, please log in</h3>


 